html {
  scroll-behavior: smooth;
}

body {
  font-family: Figtree, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  /* background-color: #131826; */
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

h1, h3 {
  display: none;
}
h2 {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

h4 {
  font-size: 1.2rem;
  --tw-text-opacity: 1;
  color: white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.form_wrapper {
  width: 100%;
  max-width: 28rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
  font-weight: 500;
}

#imgurUrls, #error_result, #result {
  width: 100%;
  height: 200px;
  margin-top: 0.25rem;
  --tw-border-opacity: 1;
}

.inner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 5px;
}

.inner_wrapper button {
  margin: 0px 1px;
}

.url-textarea {
  height: 35px;
  resize: none;
  width: 100%;
  user-select: text; /* Allow text selection */
}

#videoContainer > .form_wrapper {
  position: relative;
  margin: 10px 0px;
}

.close-btn {
  /* position: absolute;
  top: 19px;
  right: 25px; */
}
/* .copy-btn {
  position: absolute;
  top: 19px;
  right: 64px;
} */

.copy-btn {
  /* For right positioning */
  /* position: absolute; 
  top: 19px;
  right: 64px; */
  /* Smooth transition for styling */
  transition: all 0.3s ease; 
}

/* New class for the modified button */
.copy-btn.copied {
  right: 65px;
}

/* New class for the modified textarea */
.url-textarea.shrunk {
  width: 70% !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.hidden {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.result-copy {
  margin-top: 10px;
}

#resultWrapper, #errorWrapper {
  width: 100%;
  max-width: 28rem; 
}

.author {
  text-align: end;
}

.top_bottom {
  margin: 10px 0px;
}

.left_right {
  margin: 0px 10px;
}
.margin_10 {
  margin: 10px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

/* Drag Button */
#dragBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 8px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

/* Button Group Position (next to Drag Button) */
#dragBtnGroup {
  position: fixed;
  bottom: 20px;
  left: 78px; /* Positioned to the right of the drag button */
  z-index: 1000;
}

.output {
  margin-bottom: 15px;
}

.description {
  margin: 10px 30px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
}

/* Default single-column layout */
#videoContainer.column-layout {
  display: block; /* Each video will be in its own row */
}

/* Grid layout */
#videoContainer.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); /* Adjust the min width */
  gap: 10px; /* Gap between videos */
  justify-items: center;
  align-items: baseline;
}

#videoContainer.grid-layout video {
  height: auto; /* Set a fixed height for each video */
  width: 100%; /* Ensure videos take full width of their grid column */
  object-fit: cover; /* Maintain aspect ratio, cropping the overflow */
  border-radius: 10px; /* Optional: add some border-radius for style */
}

/* The element being dragged (ghost element) */
.sortable-ghost {
  opacity: 0.5;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
}

/* Full-size image modal styles */
#imageModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.9); /* Black with transparency */
}

#imageModal .modal-content {
  margin: auto;
  display: block;
  max-width: 90%; /* Allow the image to take up to 90% of the screen width */
  max-height: 90%; /* Allow the image to take up to 90% of the screen height */
  width: auto; /* Maintain the aspect ratio by letting the width adjust */
  height: auto; /* Maintain the aspect ratio by letting the height adjust */
}

#imageModal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#imageModal .close:hover,
#imageModal .close:focus {
  color: #bbb;
  text-decoration: none;
}

#imageModal .modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#imageModal img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.drag-text {
  margin-top: .5rem;
}

@media (max-width: 500px) {
  h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 429px) {
  .description {
    margin: 10px 35px;
  }
}

@media (max-width: 389px) {
  .description {
    margin: 10px 10px 10px 20px;
  }
}